* {
    /* outline: 2px solid red; */
}

:root {
    --background : rgb(245 245, 245);
    --frame : rgb(200,200,200);
}

body{
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: min(1000px, 100%);
    border: 2px solid var(--frame);
}

.web-title{
    text-align: center;
    padding: 12px;
}

.top-bar{
    display: flex;
    gap: 24px;
    padding:12px;
}

.top-button-wrapper{
    display: flex;
    gap: 12px;
}

.top-button-wrapper button {
    font-size: 10px;
    width: 75px;
    padding: 6px;
    box-sizing: border-box;
}

.grid-size-input-wrapper{
    display: flex;
    align-items: center;
}

.grid-size-input{
    font-size: 10px;
}

.drawer-wrapper{
    display: flex;
    gap: 12px;
    padding: 12px;
    justify-content: center;
}

.side-button-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#eraser{
    padding: 8px;
}

.color-picker{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.drawing-board {
    display: flex;
    flex-direction: column;
    min-width: 750px;
    min-height: 750px;
}

.grid-i {
    display: flex;
    flex-direction: row;
}

.grid-j{
    background-color: white;
    border: 1px solid var(--frame)
}